<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <link rel="stylesheet" href="stylesheets/file.css">
</head>
<body>
   <div class="main">
    <a href="/" class="text">Go to Home</a>
    <form action="/edit" method="post">
        <input type="text" placeholder="Previous Name" name="previous" value="<%=filename%>">
        <!-- The value attribute sets the default text inside the input field. -->
        <input type="text" placeholder="New Name" name="new">
        <input type="Submit" value="Update Name">
    </form>
   </div> 
</body>
</html>